.vision {
  margin-top: 10px;
  height: 30vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.left {
  width: 400px;
  margin-left: 40px;
  margin-right: 100px;
}

.right {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.right div {
  margin-right: 35px;
}
.one {
  line-height: 5px;
}

@media (max-width: 994px) {
  .vision {
    margin-top: 40px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .left {
    width: 400px;
    margin-left: 40px;
    margin-right: 100px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .right div {
    margin-right: 35px;
  }
  .one {
    line-height: 5px;
  }
}
